body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: teal;
    color: teal
}
table {
    background: wheat;
    padding: 20px;
    font-size:20px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    list-style-position: outside;
}
button {
    border: 0;
    background: teal;
    display: block;
    margin: 20px auto;
    text-align:center;
    border: 3px solid rgb(202, 202, 25);
    padding: 5px 5px;
    font-size: 17px;
    outline: none;
    color: rgb(202, 202, 25);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    
}

button[type = "button"]:hover{
    background:#aaaa55;
    color: #ffffff;
}

input[type = "date"]{
    border: 0;
    background: teal;
    display: block;
    margin: 20px auto;
    text-align:center;
    border: 3px solid rgb(202, 202, 25);
    padding: 5px 5px;
    font-size: 17px;
    outline: none;
    color: rgb(202, 202, 25);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
table {
    width:100%;
}
table, th, td {
    border: 4px solid rgb(202, 202, 25);
    border-collapse: collapse;
    text-align: center;
    
}